
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://ichef.bbci.co.uk/images/ic/1376x774/p05r0kns.jpg");
  height: 500px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.hero-text {
  text-align: left;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
}

body {
  font-family: sans-serif;
}

p.one {
  float: left;
  width: 30%;
  margin: 12px;
  border: 2px;
  padding: 2px;
  
}

p.two {
  float: left;
  width: 30%;
  margin: 12px;
  border: 2px;
  padding: 2px;
}

p.three {
  float: left;
  width: 30%;
  margin: 12px;
  border: 2px;
  padding: 2px;
}

p.four {
  float: left;
  clear: left;
  width: 30%;
  margin: 12px;
  border: 2px;
  padding: 2px;
}

.five {
  float: left;
  width: 30%;
  margin: 12px;
  border: 2px;
  padding: 2px;
}

.five p {
  width: fit-content;
}

.six {
  float: left;
  width: 30%;
  margin: 12px;
  border: 2px;
  padding: 2px;
}

.six p {
  width: fit-content;
}


h1 {
 font-size: 80px;
}

h2 {
 font-size: 40px;
}

/* #day {
  width: 100%;
}

#hours {
  width: 100%;
} */

.form-group {
  width: 50%;
}

#present {
  display: none;

}

#output {
  display: none;
}

span {
  font-weight: bold;
}

