
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://ichef.bbci.co.uk/images/ic/1376x774/p05r0kns.jpg");
  height: 500px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.hero-text {
  text-align: lefts;
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;
  
}

button {
  /* text-align: left;
  position: absolute;
  top: 80%;
  left: 10%;
  transform: translate(-50%, -50%); */
  color: rgb(98, 0, 255);
  /* float: right; */
}
p.one {
  float: left;
  width: 30%;
  margin: 10px;
  border: 2px;
  padding: 2px;
  
}

p.two {
  float: left;
  
  width: 30%;
  margin: 10px;
  border: 2px;
  padding: 2px;
}

p.three {
  float: left;

  width: 30%;
  margin: 10px;
  border: 2px;
  padding: 2px;
}

p.four {
  float: left;
  clear: left;
  width: 30%;
  margin: 10px;
  border: 2px;
  padding: 2px;
}

.five {
  float: left;
  width: 30%;
  margin: 10px;
  border: 2px;
  padding: 2px;

}

.five p {
  width: fit-content;
}

.six {
  float: left;
  width: 30%;
  margin: 10px;
  border: 2px;
  padding: 2px;

}

.six p {
  width: fit-content;
}


h1 {

}

h2 {

}

h3 {


}

.form-group {
  width: 50%;
}

body {


}

#outputA {
  

}

#outputB {
 
}

#day {
  width: 100%;
}

#hours {

  width: 100%;
}